# Dependencies
node_modules/
.bun/

# Build output
dist/
index.cjs

# Environment
.env
.env.local
.env.production

# Prisma
prisma/migrations/**/migration_lock.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

src/shared/db/generated/
.vercel
out

# clerk configuration (can include secrets)
/.clerk/
.next
next-env.d.ts
prisma/generated/prisma
